.jathin{
    border-radius: 1000px;
    width: 100px;
    height: 100px;
    display: inline;
}
.joogle{
    text-align: center;
    width: 200px;
    display: inline;
}
.joogle_search{
    display: flex;
    flex-wrap: wrap;
}